.content-container{
    width: 70%;
    margin: auto;
    background-color: orange;
    
}

.category-container{
    display: flex;
    margin: auto;
    background-color: yellow;
    width: 70%;
    justify-content:first baseline;
}