.aboutBox{
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 10px;
    margin: auto;
}

#aboutPic{
    background-color: yellow;
    height: 7cm;
    width: 5cm;
    border-radius: 1cm;
}

#discription{
    background-color: orange;
    height: 7cm;
    width: 15cm;
    
}