<!DOCTYPE html>
<header class="topHeader">
    <div class="title">
        Chi-Jui, Lin
    </div>
    <nav class="navBar">
        <div class="navitem">
            <button (click)="toAbout()" class="navButton">
                About
            </button>
        </div>
        <div class="navitem">
                <button (click)="toProjects()" class="navButton">
                    Projects
                </button>
        </div>
        <div class="navitem">
            <button (click) = "toExperience()" class="navButton">
                Experience
            </button>
        </div>
        
    </nav>
    
</header>
<body>
    <p>
        app-landing-page
    </p>
    <router-outlet></router-outlet>
    
</body>
