<!DOCTYPE html>
<header class="topHeader">
    <div class="title">
        Carey's Website
    </div>
    <nav class="navBar">
        <div class="navitem">
            <button class="navButton">
                About
            </button>
        </div>
        <div class="navitem">
            <button class="navButton">
                Projects
            </button>
        </div>
        <div class="navitem">
            <button class="navButton">
                Experience
            </button>
        </div>
        
    </nav>
</header>

<body>
    <div class="mainBox">
        
    </div>
</body>